@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.responsive-container {
  width: 100% !important;
}

@media (min-width: 800px) {
  .responsive-container {
    width: 1100px !important;
  }
}
